body{
  font-family: "Open Sans";
  padding: 0;
  margin: 0;
}

nav{
  background-color: white;
  padding: 10px;
  box-shadow: #ececec 0px 5px 0px;
}

nav ul{
  list-style-type: none;
}

.linkPath a{
  color: #8dc63f;
  font-family: "Open Sans";
  text-decoration: none;
}

.linkPath p{
  display: inline;
}

.linkPath{
  margin-top: 2%;
  margin-left: 3%;
}

.headerText{
  font-weight: 450;
  color: #53535a;
}