body{
  font-family: "Open Sans";
  padding: 0;
  margin: 0;
  color: #53535a;
}

nav{
  background-color: white;
  padding: 10px;
  box-shadow: #ececec 0px 5px 0px;
}

.defaultMargins{
  margin: 2% 3%;
}

nav ul{
  list-style-type: none;
}

.linkPath a{
  color: #8dc63f;
  font-family: "Open Sans";
  text-decoration: none;
}

.headerText{
  font-weight: 500;
  font-size: 30px;
  color: #53535a;
  margin-top: 10px;
}

/* Component-Centric */
.linkPath p{
  display: inline;
}

.highlight{
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: 30px;
}

.textObject{
  margin-top: -10px;
}

.subheaderText{
  font-weight: 400;
  margin-top: 3%;
}